.profile {
  text-align: center;
  height: calc(100vh - 74px);
  display: flex;
  flex-direction: column;
  background-color: white;
}

.profile__container {
  margin: auto;
  height: 481px;
  width: 410px;
  display: flex;
  flex-direction: column;
  padding: 8% 0;
}

.profile__greet {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
  margin: 0 0 123px 0;
}

.profile__form {
  display: flex;
  flex-direction: column;
  margin: 0 auto 16px auto;
  width: 100%;
}

.profile__validation-message {
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
  position: absolute;
  text-align: left;
  display: block;
}

.profile__validation-message_top {
  top: -20px;
  left: 0;
}

.profile__validation-message_bottom {
  min-height: 24px;
  bottom: -30px;
  left: 0;
}

.profile__inputs {
  height: 100%;
}

.profile__input-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 16px;
  position: relative;
}

.profile__input-container:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
  margin-bottom: 220px;
}

.profile__input-label {
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px;
  text-align: left;
  display: block;
  min-width: max-content;
}

.profile__input {
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  text-align: right;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  color: black;
  transition: 0.2s ease-in-out;
  width: 100%;
  transform-origin: right;
}

.profile__input:focus {
  transform: scale(1.1);
}

.profile__input_error {
  color: #ee3465;
}

.profile__input::placeholder {
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  text-align: right;
  color: black;
  transition: 0.2s ease-in-out;
}

.profile__submit-button {
  background-color: transparent;
  border: none;
  padding: 0;
  color: black;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  line-height: 15.73px;
  outline: none;
  transition: 0.3s ease-in-out;
}

.profile__submit-button_disabled {
  color: #e8e8e8;
  font-size: 12px;
}

.profile__submit-button:focus {
  transform: scale(1.1);
}

.profile__logout-button {
  background-color: transparent;
  border: none;
  padding: 0;
  color: #ee3465;
  font-size: 13px;
  line-height: 15.73px;
  outline: none;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .profile__greet {
    margin: 0 0 96px 0;
  }

  .profile__container {
    height: 445px;
  }

  .profile__input-container:last-of-type {
    margin-bottom: 210px;
  }
}

@media screen and (max-width: 500px) {
  .profile__greet {
    margin: 0 0 80px 0;
  }

  .profile__container {
    width: 81.25%;
    height: calc(100vh - 74px);
    padding: 70px 0 40px 0;
  }

  .profile__form {
    flex: 1 1 auto;
  }
}
