@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

.container {
  width: 1140px;
  max-width: 89.06%;
  margin: 0 auto;
  position: relative;
}

.section {
  padding-bottom: 110px;
}

.section__title {
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.04em;
  text-align: left;
  padding-bottom: 23px;
  border-bottom: 1px solid black;
  margin: 0 0 70px 0;
}

.opacity {
  cursor: pointer;
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.opacity:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 86.98%;
  }

  .section {
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 500px) {
  .container {
    max-width: 88.75%;
  }

  .section {
    padding-bottom: 70px;
  }

  .section__title {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 28px;
    margin-bottom: 60px;
  }
}
